@model HotelApp.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.HotelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOccupancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency.CurrencyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency.CurrencyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
