@model IEnumerable<HotelApp.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hotel.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxOccupancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency.CurrencyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOccupancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


